<settings>

    <setting
        propertyKey="@Properties.OrangeColoringThreshold"
        title="@Strings.CIQ_OrangeColoringThreshold">
        <settingConfig
            type="numeric"
            min="0"
            max="100"
            errorMessage="@Strings.CIQ_ColoringThreshold_ErrorMessage" />
    </setting>
    <setting
        propertyKey="@Properties.RedColoringThreshold"
        title="@Strings.CIQ_RedColoringThreshold">
        <settingConfig
            type="numeric"
            min="0"
            max="100"
            errorMessage="@Strings.CIQ_ColoringThreshold_ErrorMessage" />
    </setting>
</settings>