<settings>
    <group id="wheelSettings" title="@Strings.wheelSettings" description="@Strings.wheelSettingsDescription">
         <setting
                propertyKey="@Properties.wheelBrand"
                title="@Strings.wheelBrand">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.wheelBrand0</listEntry>
                    <listEntry value="1">@Strings.wheelBrand1</listEntry>
                    <listEntry value="2">@Strings.wheelBrand2</listEntry>
                </settingConfig>
            </setting>
            <setting
                propertyKey="@Properties.actionButton"
                title="@Strings.actionButton">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.buttonActionNone</listEntry>
                    <listEntry value="1">@Strings.buttonActionLights</listEntry>
                </settingConfig>
            </setting>
            <setting
                    propertyKey="@Properties.voltageCorrectionFactor"
                    title="@Strings.voltageCorrectionFactor">
                    <settingConfig
                        type="numeric"
                        min="0"
                        max="2"
                        errorMessage="@Strings.voltageCorrectionFactor_ErrorMessage" />
                </setting>
                <setting
                    propertyKey="@Properties.speedCorrectionFactor"
                    title="@Strings.speedCorrectionFactor">
                    <settingConfig
                        type="numeric"
                        min="0"
                        max="2"
                        errorMessage="@Strings.speedCorrectionFactor_ErrorMessage" />
            </setting>
        </group>
        <group id="UIsettings" title="@Strings.UIsettings" description="@Strings.UIsettingsDescription">
            <setting
                propertyKey="@Properties.updateDelay"
                title="@Strings.updateDelay">
                <settingConfig
                    type="numeric"
                    min="100"
                    max="1000"
                    errorMessage="@Strings.updateDelay_ErrorMessage" />
            </setting>
            <setting
            propertyKey="@Properties.orangeColoringThreshold"
            title="@Strings.orangeColoringThreshold">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
                errorMessage="@Strings.coloringThreshold_ErrorMessage" />
            </setting>
            <setting
            propertyKey="@Properties.redColoringThreshold"
            title="@Strings.redColoringThreshold">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
                errorMessage="@Strings.coloringThreshold_ErrorMessage" />
            </setting>
        </group>
        
    <group id="PWMSettings" title="@Strings.PWMSettings" description="@Strings.PWMSettingsDescription">
        <setting
            propertyKey="@Properties.rotationSpeed_PWM"
            title="@Strings.rotationSpeed_PWM">
            <settingConfig
                type="numeric"
                min="0"
                max="140"
                errorMessage="@Strings.rotationSpeed_PWM_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.rotationVoltage_PWM"
            title="@Strings.rotationVoltage_PWM">
            <settingConfig
                type="numeric"
                min="48"
                max="136"
                errorMessage="@Strings.rotationVoltage_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.powerFactor_PWM"
            title="@Strings.powerFactor_PWM">
            <settingConfig
                type="numeric"
                min="0"
                max="1"
                errorMessage="@Strings.powerFactor_PWM_ErrorMessage" />
        </setting>
    </group>
    <group id="alarms" title="@Strings.alarms" description="@Strings.alarmsDescription">
        <setting
            propertyKey="@Properties.alarmThreshold_PWM"
            title="@Strings.alarmThreshold_PWM">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
                errorMessage="@Strings.alarmThreshold_PWM_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold_speed"
            title="@Strings.alarmThreshold_speed">
            <settingConfig
                type="numeric"
                min="0"
                max="200"
                errorMessage="@Strings.alarmThreshold_speed_ErrorMessage" />
        </setting>
    </group>
    <group id="activity" title="@Strings.activity" description="@Strings.activityDescription">
         <setting
            propertyKey="@Properties.activityRecordingOnStartup"
            title="@Strings.activityRecordingOnStartup">
            <settingConfig
                type="boolean"
            />
        </setting>
        <setting
            propertyKey="@Properties.activitySavingOnExit"
            title="@Strings.activitySavingOnExit">
            <settingConfig
                type="boolean"
            />
        </setting>
    </group>
    <group id="rideStats" title="@Strings.rideStats" description="@Strings.rideStatsDescription">
         <setting
            propertyKey="@Properties.averageMovingSpeedStatistic"
            title="@Strings.averageMovingSpeedStatistic">
            <settingConfig
                type="boolean"
            />
        </setting>
        <setting
            propertyKey="@Properties.topSpeedStatistic"
            title="@Strings.topSpeedStatistic">
            <settingConfig
                type="boolean"
            />
        </setting>
         <setting
            propertyKey="@Properties.watchBatteryConsumptionStatistic"
            title="@Strings.watchBatteryConsumptionStatistic">
            <settingConfig
                type="boolean"
            />
        </setting>
    </group>
</settings>